{% extends 'base.html' %}

{% block content %}

<h1 class="title">Log In</h1>
<form class="box has-background-light" action="." method="POST"> {% csrf_token %}
    {% for field in form %}
    <div class="block m-2">
        {{field.errors}}
        <p>{{field.label_tag}}</p>
        {{field}}
        {% if field.help_text %}
        <p>{{field.help_text|safe}}</p>
        {% endif %}
    </div>
    {% endfor %}
    <div class="block">
        <input class="button is-primary" type="submit" value="Log In"/>
    </div>
</form>

{% endblock content %}

