{% extends 'base.html' %}

{% block content %}

<h1 class="title is-4">Destination Form</h1>
<form class="box has-background-light" action='.' method='POST'> {% csrf_token %}
    {{form.media}}
    {% for field in form %}
    <div class="block m-2">
        {{field.errors}}
        <p>
            {{field.label_tag}} 
        </p>
        {{field}}
        {% if field.help_text %}
        <p>{{field.help_text|safe}}</p>
        {% endif %}
    </div>
    {% endfor %}
    <div class="block">
        <input class="button is-primary" type="submit" value="Save"/>
        <a class="button is-link is-outlined has-text-dark" href="{{object.get_absolute_url}}">Return</a>
    </div>
</form>

{% endblock content %}

{% load static %}
<script type="text/javascript" src="{%static "ckeditor/ckeditor-init.js"%}"></script>
<script type="text/javascript" src="{%static "ckeditor/ckeditor/ckeditor.js"%}"></script>
