{% extends 'base.html' %}

{% block content %}
<h2 class="title">{{object.name}}</h2>
<div class="box has-background-light">
    <div class="columns">
        <div class="column">
            <figure class="image">
                <img src="{{object.image}}" alt="Error: Image not found" border="0">
            </figure>
        </div>
        <div class="column">
            <div class="block">
                <p class="title is-5">Rating: {{object.rating}}/5</p>
            </div>
            <div class="block">
                <p class="title is-5">Region: {{object.get_region_display}}</p>
            </div>
            <div class="block">
                <p class="title is-5">Location: {{object.get_location_display}}</p>
            </div>
        </div>
    </div>
    <p class="title is-5">Description:</p>
    <p>{{object.description|safe}}</p>
</div>

{% endblock content %}